* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1,
h2 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#dummy_div {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    background-color: #333;
    justify-content: space-between;

}

nav a {
    color: #f2f2f2;
    background-color: #333;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;

}

nav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.img_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    border-radius: 5px;
    width: 100%;
}

@media screen and (max-width: 550px) {

    main,
    nav,
    #dummy_div {
        flex-direction: column;
        gap: 0px;
    }
}