* body {
    box-sizing: border-box;

}

h1,
h2 {
    margin: 0px;
}
h3,h4 { text-align: center;
}

#sub {
    color: brown;
    font-size: 25px;
    text-align: center;

}

nav {
    background-color: white;
    overflow: hidden;
    border-style: ridge;
    color: black;
}

#navleft {
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
    width: 33.3%;
    font-size: 20px;
}

#navright {
    text-decoration: none;
    display: block;
    float: right;
    text-align: center;
    width: 33.3%;
    font-size: 20px;

}
nav :hover {
    background-color: grey;
    color: white;
}
#leftimg {
    margin-right:30px;
}
#rightimg{
    margin-left:30px;

}

@media screen and (max-width: 600px) {

    #left_column,
    #right_column {
        float: none;
        width: 100%;
        padding-left: 0px;
    }

}

@media screen and (max-width:400px) {
    #nav a {
        float: none !important;
        width: 100%;
    }

    .card img {
        width: 100%;
    }
}